{{!-- {{yield (hash 
        
        
        
        
        maxRows=maxRows
        
        cancel=draggableCancel
        handle=draggableHandle
        onDragStop=this.onDragStop
        onDragStart=this.onDragStart
        onDrag=this.onDrag
        onResizeStart=this.onResizeStart
        onResize=this.onResize
        onResizeStop=this.onResizeStop
        isDraggable=draggable
        isResizable=resizable
        useCSSTransforms=useCSSTransforms
        w=l.w
        h=l.h
        x=l.x
        y=l.y
        i=l.i
        minH=l.minH
        minW=l.minW
        maxH=l.maxH
        maxW=l.maxW
        static=l.static
    )
}} 
--}}

<div class="react-grid-layout" style="position: relative;
    transition: height 200ms ease;">
    {{yield (hash
        containerWidth=width
        margin=margin
        rowHeight=rowHeight
        containerPadding=containerPadding
        cols=cols
    )}}
</div>