{{#draggable-object content=this dragMoveAction=(action 'test')}}
    <div class="react-grid-item" style={{styleText}}>
        <button {{action "test"}}> T</button>
        {{yield}}
    </div>
{{/draggable-object}}