<div class="grid-layout">
    {{yield (hash
      containerWidth=width
      margin=margin
      rowHeight=rowHeight
      containerPadding=containerPadding
      cols=cols
      maxRows=maxRows
      onDrag=(action "onDrag")
      onDragStart=(action "onDragStart")
      onDragStop=(action "onDragStop")
      ) this.innerLayout}}
</div>
