{{!-- {{yield (hash 
      maxRows=maxRows
      cancel=draggableCancel
      handle=draggableHandle
      onDragStop=this.onDragStop
      onDragStart=this.onDragStart
      onDrag=this.onDrag
      onResizeStart=this.onResizeStart
      onResize=this.onResize
      onResizeStop=this.onResizeStop
      isDraggable=draggable
      isResizable=resizable
      useCSSTransforms=useCSSTransforms
      minH=l.minH
      minW=l.minW
      maxH=l.maxH
      maxW=l.maxW
      static=l.static
      )
      }} 
      --}}

<div class="grid-layout">
    {{yield (hash
      containerWidth=width
      margin=margin
      rowHeight=rowHeight
      containerPadding=containerPadding
      cols=cols
      maxRows=maxRows
      onDrag=(action "onDrag")
      onDragStart=(action "onDragStart")
      onDragStop=(action "onDragStop")
      ) this.innerLayout}}
</div>
