{{#draggable-object 
    content=this 
    dragMoveAction=(action 'dragMoveAction')
    dragStartHook=(action 'dragStartAction')
    }}
    <div class="react-grid-item" style={{styleText}}>
        <button {{action "test"}}> T</button>
        {{yield}}
    </div>
{{/draggable-object}}