{{update-width width (action this.widthObserver)}}
<div class="grid-layout" style={{containerStyle}} {{on "dragover" (action this.dragoveraction)}}>
    {{yield (hash
      containerWidth=width
      margin=margin
      rowHeight=rowHeight
      containerPadding=containerPadding
      cols=cols
      maxRows=maxRows
      onDragStart=(action "onDragStart")
      onDragStop=(action "onDragStop")
      updateReferencePoint=(action "updateReferencePoint")
      remove=(action "remove")
      ) this.innerLayout}}
</div>
