Index test

<GridLayout>
    {{#each this.layout as |l i|}}
        <GridItem>
            <div key={{i}}>
                <span class="text">{{i}}</span>
            </div>
        </GridItem>
    {{/each}}
</GridLayout>



