Index test

<GridLayout as |grid|>
    {{#each this.layout as |l i|}}
        <GridItem @grid={{grid}} @pos={{l}}>
            <div key={{i}}>
                <span class="text">{{i}}</span>
            </div>
        </GridItem>
    {{/each}}
</GridLayout>



